[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/floooh/sokol.git
[submodule "lib/sokol-samples"]
	path = lib/sokol-samples
	url = https://github.com/floooh/sokol-samples.git
[submodule "lib/sokol-tools-bin"]
	path = lib/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
